@import '../../styles/base';

.easterEgg {
  font-size: 1rem;
  position: absolute;
  opacity: 0;
}

.img {
  @extend .img-shape;
  cursor: pointer;

  &Container {
    @extend .img-container;
  }
}

@media (hover: hover) {
  .img:hover {
    @include img-hover-effect;
  }
}
