@import '../../styles/base', '../../styles/animation';

.spinner {
  content: '';
  grid-row: span 2;
  grid-column: span 6;
  @extend .flex-center-all;

  &Container {
    width: 5rem;
    height: 5rem;
    position: relative;
    @extend .flex-center-all;
    animation: rotate360 1s infinite;

    &Ball {
      width: 2rem;
      height: 2rem;
      position: absolute;
      border-radius: 50%;

      &:nth-child(1) {
        top: 0;
        right: 0;
        background: linear-gradient(rgba(255, 79, 79, .3), rgba(255, 79, 79, .2));
      }

      &:nth-child(2) {
        left: 0;
        top: 1rem;
        background: linear-gradient(rgba(19, 19, 255, .3), rgba(19, 19, 255, .2));
      }

      &:nth-child(3) {
        right: .6rem;
        bottom: 0;
        background: linear-gradient(rgba(255, 255, 0, .3), rgba(255, 255, 0, .2));
      }
    }
  }
}

@media (max-width: 1024px) {
  .spinner {
    grid-row: span 2;
    grid-column: span 3;
  }
}

@media screen and (max-width: 768px) {
  .spinner {
    grid-row: span 2;
    grid-column: span 3;
  }
}

@media screen and (max-width: 480px) {
  .spinner {
    grid-row: span 2;
    grid-column: span 1;
  }
}
