@import '../styles/base';

.content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 2rem;
  z-index: 10;

  &::after {
    content: '';
    grid-row: span 2;
    grid-column: span 6;
  }
}

@media (max-width: 1024px) {
  .content {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    &::after {
      grid-row: span 2;
      grid-column: span 3;
    }
  }

  .imgBase {
    height: 23rem;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    &::after {
      grid-row: span 2;
      grid-column: span 3;
    }
  }

  .imgBase {
    height: 20rem;
    width: 100%;
  }

  .modal {
    & > div {
      width: 80%;
      height: calc(100vmax * .5);
    }

    &Title {
      font-size: 1.5em;
    }

    &Content {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 480px) {
  .content {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    &::after {
      grid-row: span 2;
      grid-column: span 1;
    }
  }

  .imgBase {
    height: 20rem;
    width: 85%;
  }

  .modal {
    & > div {
      width: 80%;
      height: calc(100vmax * .5);
    }

    &Title {
      font-size: .9em;
    }

    &Content {
      font-size: 1.25em;
    }
  }
}
