@import '../../styles/base', '../../styles/animation';

.home {
  z-index: 20;

  @extend .flex-center-all;
  position: relative;
  width: calc(80vmin - 5em);
  height: calc(60vmin - 5em);
}

.button {
  @extend .flex-center-all;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  width: 60%;
  height: 35%;
  position: absolute;
  padding: 1rem;
  border-radius: 30px;
  background: linear-gradient(rgb(0, 45, 83), rgb(0, 45, 83));
  box-shadow: .5rem .5rem 0 .1rem rgb(0, 45, 83);
  transition: all .1s;
  color: rgba(255, 255, 255, 0.5);

  &:nth-child(1) {
    top: 1rem;
    animation: fade 1.5s normal;
  }

  &:nth-child(2) {
    top: calc(50% + 1rem);
    animation: fade 2.5s normal;
  }

  &:hover {
    box-shadow: none;
    margin-left: .5em;
    margin-top: .3em;
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

@media screen and (max-width: 768px) {
  .button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .button {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .home {
    width: calc(80vmin - 2.5em);
    height: calc(60vmin - 2.5em);
  }
  .button {
    width: 100%;
    height: 45%;
    right: .25em;
    &:nth-child(1) {
      top: -1rem;
    }

    &:hover {
      margin-right: -.5rem;
      margin-top: .3em;
    }
  }
}
