@import '../../styles/base';

.shimmer {
  @extend .img-container, .img-shape;
  background: rgba(246, 247, 249, 0.125);
  padding-top: 149%;
  margin: auto;
}

@media (max-width: $lg) {
  .shimmer {
    padding-top: 130%;
  }
}

@media screen and (max-width: $md) {
  .shimmer {
    padding-top: 149%;
  }
}

@media screen and (max-width: $xs) {
  .shimmer {
    padding-top: 124%;
  }
}