@import '../../styles/base';

.shimmer {
  @extend .img-container;

  &::after {
    @extend .img-shape;
    height: 18rem;
    content: '';
    background: rgba(246, 247, 249, 0.125);
  }
}

@media (max-width: $lg) {
  .shimmer::after {
    height: 23rem;
  }
}

@media screen and (max-width: $md) {
  .shimmer::after {
    height: 19rem;
  }
}

@media screen and (max-width: $xs) {
  .shimmer::after {
    height: 24rem;
  }
}